.telefonos{
    width: 1440px;
    padding: 5rem;
    align-items: flex-start;
}

.titulo2{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
 
    gap: 1rem;
}

.txt3,
.txt4,
.view{
    font-size: 24px;
    margin: 0;
    color: gray ;

}

.view{
    position: relative;
    left: 85rem;
}

.txt4{
    color: #008ECC;
}

.linea1 {
  width: 1440px;      
  height: 4px;
  background-color: gray;
  margin-top: 0.5rem;    
  position: absolute;
  top: 70rem;
}

/*telefonos*/
.tl5 {
    border-radius: 2rem;
    width: 230px;
    height: 230px;
    background-color: rgb(230, 229, 229);
}

.of5 {
    left: 18rem;
    justify-content: center;
    top: 1rem;
    width: 35px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    position: absolute;
}

.m5{
   position: absolute;
}

.ig5 {
    margin-top: 10px;
    margin-left: 40px;
}

.ct5 {

    width: 225px;
    height: 70px;
    background-color: white;
    border-radius: 15px;
    flex-direction: column;
}

.gx5n {
    font-size: 16px;
    flex-direction: column;
    margin-left: 2px;
    padding: 1px;
}

.im5 {
    position: absolute;
    left: 175px;
}

.gx5{
    font-size: 18px;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 10px;
    color: green;
}

.tl4 {
    border-radius: 2rem;
    width: 230px;
    height: 230px;
    background-color: rgb(230, 229, 229);
}

.of4 {
    left: 18rem;
    justify-content: center;
    top: 1rem;
    width: 35px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    position: absolute;
}

.m4{
   position: absolute;
}

.ig4 {
    margin-top: 10px;
    margin-left: 40px;
}

.ct4 {

    width: 225px;
    height: 70px;
    background-color: white;
    border-radius: 15px;
    flex-direction: column;
}

.gx4n {
    font-size: 16px;
    flex-direction: column;
    margin-left: 2px;
    padding: 1px;
}

.im4 {
    position: absolute;
    left: 175px;
}

.gx4{
    font-size: 18px;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 10px;
    color: green;
}

.tl3{
    border-radius: 2rem;
    width: 230px;
    height: 230px;
    background-color: rgb(230, 229, 229);
}

.of3 {
    left: 18rem;
    justify-content: center;
    top: 1rem;
    width: 35px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    position: absolute;
}

.m3{
   position: absolute;
}

.ig3 {
   margin-top: 10px;
   margin-left: 40px;
}

.ct3 {

   width: 225px;
   height: 70px;
   background-color: white;
   border-radius: 15px;
   flex-direction: column;
}

.gx3n {
   font-size: 16px;
   flex-direction: column;
   margin-left: 2px;
   padding: 1px;
}

.im3 {
   position: absolute;
   left: 175px;
}

.gx3{
   font-size: 18px;
   flex-direction: column;
   margin-top: 10px;
   margin-left: 10px;
   color: green;
}

.tl2{
    border-radius: 2rem;
    width: 230px;
    height: 230px;
    background-color: rgb(230, 229, 229);
}

.of2 {
    left: 18rem;
    justify-content: center;
    top: 1rem;
    width: 35px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    position: absolute;
}

.m2{
   position: absolute;
}

.ig2 {
   margin-top: 10px;
   margin-left: 40px;
}

.ct2 {

   width: 225px;
   height: 70px;
   background-color: white;
   border-radius: 15px;
   flex-direction: column;
}

.gx2n {
   font-size: 16px;
   flex-direction: column;
   margin-left: 2px;
   padding: 1px;
}

.im2 {
   position: absolute;
   left: 175px;
}

.gx2{
   font-size: 18px;
   flex-direction: column;
   margin-top: 10px;
   margin-left: 10px;
   color: green;
}

.tl1{
    border-radius: 2rem;
    width: 230px;
    height: 230px;
    background-color: rgb(230, 229, 229);
}

.of1 {
    left: 18rem;
    justify-content: center;
    top: 1rem;
    width: 35px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    position: absolute;
}

.m1{
   position: absolute;
}

.ig1 {
   margin-top: 10px;
   margin-left: 40px;
}

.ct1 {

   width: 225px;
   height: 70px;
   background-color: white;
   border-radius: 15px;
   flex-direction: column;
}

.gx1n {
   font-size: 16px;
   flex-direction: column;
   margin-left: 2px;
   padding: 1px;
}

.im1 {
   position: absolute;
   left: 175px;
}

.gx1{
   font-size: 18px;
   flex-direction: column;
   margin-top: 10px;
   margin-left: 10px;
   color: green;
}


.smartphones{
   flex-direction: row;
   display: flex;
   gap: 2rem;
}